.em-buttons {
    -fx-background-color: rgba(9, 182, 31, 0.58);

    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.em-buttons:hover {
    /*-fx-background-color: #1ba32d;*/
    -fx-background-color: linear-gradient(to top, #196f9a, #1ba32d);
}

.em-currentBtn {
    -fx-background-color: linear-gradient(to top, #196f9a, #1ba32d);
    -fx-font-weight: bold;
}

.em-link-Btn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.em-link-Btn:hover {
    -fx-cursor: hand;
    -fx-font-size: 12px;
    -fx-text-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #196f9a 0.0%, #1ba32d 99.7763%, #1ba32d 100.0%);
    -fx-background-color: linear-gradient(to right, rgba(128, 128, 128, 0.27), transparent);
}
.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover {
    -fx-background-color: rgba(203, 16, 16, 0.73);
    -fx-text-fill: white;
}



/*next*/
.textfield {
    -fx-background-color: yellow;
    -fx-background-radius: 4px;
    -fx-border-color: pink;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
}

.textfield:focused {
    -fx-background-color: white;
}